Tema2/countries.dtd

<!ELEMENT countries (country+)>
<!ELEMENT country ((language | city)*)>
<!ATTLIST country name CDATA #REQUIRED
                  population NMTOKEN #REQUIRED
                  area NMTOKEN #REQUIRED>
<!ELEMENT language (#PCDATA)>
<!ATTLIST language percentage NMTOKEN #REQUIRED>
<!ELEMENT city (name, population)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT population (#PCDATA)>
