Tema2/ejemplos-attlist/coche.dtd

<!ELEMENT taller (coche+, reparacion+)>
<!ELEMENT coche (marca, modelo)>
<!ATTLIST coche matricula ID #REQUIRED>
<!ATTLIST coche fecha_compra NMTOKEN #IMPLIED>
<!ATTLIST coche fechas_revisiones NMTOKENS #IMPLIED>

<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>

<!ELEMENT reparacion (concepto, precio)>
<!ATTLIST reparacion mat_vehiculo IDREF #REQUIRED>

<!ELEMENT concepto (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
