tema3/Exercicis XSD/ciutat.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="ciutat" />
    <xs:element name="nom" />
    <xs:element name="state" />
    <xs:element name="description" />
    <xs:element name="population" />
    <xs:element name="location" />
    <xs:element name="latitude" />
    <xs:element name="longitude" />

</xs:schema>