tema3/Exercicis XSD/flight.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="flight" />
    <xs:element name="airline" />
    <xs:element name="flightno" />
    <xs:element name="origin" />
    <xs:element name="destination" />
    <xs:element name="departure" />
    <xs:element name="arrival" />

</xs:schema>