tema2/ejemplo01/alumno.dtd

<!ELEMENT alumno (((nombre, apellido*) | (apellido*, nombre)), delegado?, optativa)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT delegado EMPTY>
<!ELEMENT optativa (cultura_clasica | teatro | informatica)>
<!ELEMENT cultura_clasica EMPTY>
<!ELEMENT teatro EMPTY>
<!ELEMENT informatica EMPTY>